{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NoSortie</th>
                <th>Nom</th>
                <th>DateDebut</th>
                <th>Duree</th>
                <th>DateCloture</th>
                <th>NbInscriptionsMax</th>
                <th>DescriptionInfos</th>
                <th>EtatSortie</th>
                <th>UrlPhoto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.noSortie }}</td>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.descriptionInfos }}</td>
                <td>{{ sortie.etatSortie }}</td>
                <td>{{ sortie.urlPhoto }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'noSortie': sortie.noSortie}) }}">show</a>
                    <a href="{{ path('app_sortie_edit', {'noSortie': sortie.noSortie}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}">Create new</a>
{% endblock %}
