{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NoSortie</th>
                <td>{{ sortie.noSortie }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>DateCloture</th>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbInscriptionsMax</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>DescriptionInfos</th>
                <td>{{ sortie.descriptionInfos }}</td>
            </tr>
            <tr>
                <th>EtatSortie</th>
                <td>{{ sortie.etatSortie }}</td>
            </tr>
            <tr>
                <th>UrlPhoto</th>
                <td>{{ sortie.urlPhoto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sortie_index') }}">back to list</a>

    <a href="{{ path('app_sortie_edit', {'noSortie': sortie.noSortie}) }}">edit</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
