{% extends 'base.html.twig' %}

{% block title %}Détails de la sortie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Afficher une sortie</h1>

        <div class="form-grid">
            <!-- Colonne GAUCHE : infos sortie -->
            <div class="col">
                <div class="readonly-inline"><strong>Nom de la sortie :</strong> {{ sortie.nom }}</div>
                <div class="readonly-inline"><strong>Date et heure de la sortie :</strong> {{ sortie.dateDebut|date('d/m/Y H:i') }}</div>
                <div class="readonly-inline"><strong>Date limite d’inscription :</strong> {{ sortie.dateCloture|date('d/m/Y H:i') }}</div>
                <div class="readonly-inline"><strong>Nombre de places :</strong> {{ sortie.nbInscriptionsMax }}</div>
                <div class="readonly-inline"><strong>Durée :</strong> {{ sortie.duree }} minutes</div>
                <div class="readonly-inline"><strong>Description et infos :</strong> {{ sortie.descriptionInfos }}</div>
            </div>

            <!-- Colonne DROITE : infos lieu/ville -->
            <div class="col">
                <div class="readonly-inline"><strong>Ville organisatrice :</strong> {{ sortie.organisateur.site.nomSite }}</div>
                <div class="readonly-inline"><strong>Lieu :</strong> {{ sortie.lieu.nomLieu }}</div>
                <div class="readonly-inline"><strong>Rue :</strong> {{ sortie.lieu.rue }}</div>
                <div class="readonly-inline"><strong>Code postal :</strong> {{ sortie.lieu.ville.codePostal }}</div>
                <div class="readonly-inline"><strong>Latitude :</strong> {{ sortie.lieu.latitude }}</div>
                <div class="readonly-inline"><strong>Longitude :</strong> {{ sortie.lieu.longitude }}</div>
            </div>
        </div>

        <h2 style="margin-top:24px;">Liste des participants inscrits :</h2>
        <div class="list">
            <table>
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for p in sortie.participants %}
                    <tr>
                        <td>{{ p.pseudo }}</td>
                        <td>{{ p.nom }} {{ p.prenom }}</td>
                    </tr>
                {% else %}
                    <tr><td colspan="2">Aucun participant inscrit</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
